# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database backup
db/

# Unit test / coverage reports
coverage/
.coverage
.coverage.*
*.cover
.pytest_cache/

# Translations
*.mo
*.pot

# pyenv
.python-version

# poetry
poetry.lock

# Environments
.env
.env.test
.venv/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# IDE/editor settings
.idea/
.vscode/

# Qodana
qodana.yaml

# Running
Makefile
